.label-input{
    display: flex;
    justify-content: center;
    align-items: center;;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
input{
    margin: 4px;
    height: 24px;
}
.description {
    flex-grow: 3;
}
.titulo {
    width: 180px;
}
.btn {
    width: 200px;
    height:28px;
    margin: 0 40px;
    flex-grow: 1;
}